/* .weather-card {
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #fff;
    background-color: #658549;
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    gap: 20px;
}

.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

.weather-icon {
    width: 50px;
}

.temperature {
    font-weight: 600;
    font-size: 35px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 20px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}

.parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}

.parameter-label.top {
    border-bottom: 1px solid #fff;
} */

main {
    height: calc(100vh - 80px);
    height: calc(100svh - 80px);
    overflow: scroll;
}

article.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
    overflow-y: auto overlay;
}

article.container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

article.container:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    background-color: var(--white-alpha-8);
}

article.container::-webkit-scrollbar-button {
    height: 10px;
}

article.container::before {
    content: '';
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-image: var(--gradient-1);
    pointer-events: none;
    z-index: 1;
}

.forecast-card .title-2 {
    margin-block-end: 0;
    font-size: 16px;
}

.forecast-card :is(.card-item, .icon-wrapper) {
    display: flex;
    align-items: center;
}

.forecast-card .card-item:not(:last-child) {
    margin-block-end: 12px;
}

.forecast-card .icon-wrapper {
    gap: 8px;
}

.forecast-card .label-1 {
    color: var(--on-surface-variant);
    font-weight: 600;
    margin-bottom: 0;
    font-size: 18px;
}

.forecast-card .card-item > .label-1 {
    width: 100%;
    text-align: right;
}

@media (max-width: 768px) {
    article.container {
        grid-template-columns: 1fr; /* Stacks the columns */
    }
}